version: '3.8'

services:
  postgres:
    image: postgres:14
    container_name: secrets-postgres
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: app_db
    ports:
      - "5459:5432"

volumes:
  postgres_data:
